pkgbase = nself
	pkgdesc = Self-hosted infrastructure manager for developers
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/acamarata/nself
	arch = any
	license = MIT
	depends = bash
	depends = docker
	depends = docker-compose
	depends = curl
	depends = git
	source = nself-0.4.1.tar.gz::https://github.com/acamarata/nself/archive/v0.4.1.tar.gz
	sha256sums = 0d832e8dbbb368511241eab7973afa5d6ed8af69615e137c679064c903d3c7b2

pkgname = nself
