pkgbase = nself
	pkgdesc = Self-hosted infrastructure manager for developers
	pkgver = 0.9.8
	pkgrel = 1
	url = https://github.com/acamarata/nself
	arch = any
	license = MIT
	depends = bash
	depends = docker
	depends = docker-compose
	depends = curl
	depends = git
	source = nself-0.9.8.tar.gz::https://github.com/acamarata/nself/archive/v0.9.8.tar.gz
	sha256sums = 3324fce82a264646c88a85f1f54e911fa5090da7f0fb86239a4c226a8a6780b1

pkgname = nself
