{
  "name": "{{SERVICE_NAME}}",
  "version": "1.0.0",
  "description": "Bun service for {{PROJECT_NAME}}",
  "main": "server.js",
  "scripts": {
    "start": "bun run server.js",
    "dev": "bun run --watch server.js"
  },
  "dependencies": {
    "@elysiajs/cors": "^1.0.2",
    "elysia": "^1.0.27"
  }
}