# slack-clone
PROJECT_NAME=my-team-chat
BASE_DOMAIN=localhost
HASURA_GRAPHQL_URL=http://localhost:8080/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=change-me
AUTH_JWT_SECRET=change-me-32-chars-minimum
REALTIME_REDIS_URL=redis://localhost:6379
LIVEKIT_URL=wss://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret
