pkgbase = nself
	pkgdesc = Production-ready self-hosted backend infrastructure
	pkgver = 0.4.5
	pkgrel = 1
	url = https://nself.org
	arch = any
	license = custom:Source-Available
	depends = bash
	depends = docker
	depends = docker-compose
	source = nself-0.4.5.tar.gz::https://github.com/acamarata/nself/archive/refs/tags/v0.4.5.tar.gz
	sha256sums = bfd6022c4d9118c4522662524104ba9db9de2f382bca32d1923a06718f943441

pkgname = nself