pkgbase = nself
	pkgdesc = Production-ready self-hosted backend infrastructure
	pkgver = 0.4.7
	pkgrel = 1
	url = https://nself.org
	arch = any
	license = custom:Source-Available
	depends = bash
	depends = docker
	depends = docker-compose
	source = nself-0.4.7.tar.gz::https://github.com/acamarata/nself/archive/refs/tags/v0.4.7.tar.gz
	sha256sums = 133ba89bc55c50327f0c22f9b737405a5345f9cd3004333100e88861555b7aca

pkgname = nself