# zoom-clone
PROJECT_NAME=my-meetings
BASE_DOMAIN=localhost
HASURA_GRAPHQL_URL=http://localhost:8080/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=change-me
AUTH_JWT_SECRET=change-me-32-chars-minimum
LIVEKIT_URL=wss://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret
RECORDING_STORAGE_BUCKET=meeting-recordings
